# Python / Backend
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.env
backend/*.db

# React / Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# General
.DS_Store
*.log