fastapi
uvicorn
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4
python-dotenv

pydantic-settings
opencv-python
psycopg2-binary
alembic
email-validator
python-multipart
ultralytics
supervision
mediapipe

