.dashboard{
    padding:40px;
    min-height:100vh;
}

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.dashboard-header h1{
    color:white;
}

.logout-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.logout-btn:hover{
    background:#dc2626;
}

.welcome-card{
    margin-top:35px;
    background:rgba(255,255,255,0.92);
    backdrop-filter:blur(15px);
    padding:30px;
    border-radius:18px;
    border:1px solid rgba(255,255,255,0.3);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.cards{
    margin-top:40px;
    display:flex;
    gap:30px;
}

.card{
    flex:1;
    background:rgba(255,255,255,0.92);
    backdrop-filter:blur(15px);
    padding:35px;
    border-radius:18px;
    cursor:pointer;
    transition:.3s;
    border:1px solid rgba(255,255,255,.3);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 45px rgba(0,229,255,.35);
}

.card h2{
    color:#2563eb;
}