@import "tailwindcss";

/*
|--------------------------------------------------------------------------
| Base Styles
|--------------------------------------------------------------------------
*/

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background-color: hsl(0 0% 100%);
  color: hsl(222.2 84% 4.9%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
|--------------------------------------------------------------------------
| Accessibility
|--------------------------------------------------------------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}